* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cuadrado {
    width: 300px;
    height: 300px;
    margin: 0 10px 30px;
    padding: 10px;
    font-size: 40px;
}

.color-rojo {
    background: #f00;
    color: yellow;
}

.color-negro {
    background: #000;
    color: white;
}